<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Private Qutions</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="./css/PrivateQuestions/font-awesome.min.css" rel="stylesheet" th:href="@{./css/PrivateQuestions/font-awesome.min.css}">
<link href="./css/PrivateQuestions/PrivateQuestions.css" rel="stylesheet" th:href="@{./css/PrivateQuestions/PrivateQuestions.css}">
<script src="./css/PrivateQuestions/jquery-1.12.4.min.js" th:src="@{./css/PrivateQuestions/jquery-1.12.4.min.js}"></script>
<script src="./css/PrivateQuestions/jquery-ui.min.js" th:src="@{./css/PrivateQuestions/jquery-ui.min.js}"></script>
<script src="./css/PrivateQuestions/wwb15.min.js" th:src="@{./css/PrivateQuestions/wwb15.min.js}"></script>
</head>
<body>
<div id="wb_header">
<div id="header">
<div class="row">
<div class="col-1">
<div id="wb_headerBreadcrumb" style="display:inline-block;width:100%;z-index:0;vertical-align:top;">
<ul id="headerBreadcrumb">
<li><a href="/Home"><i class="fa fa-home">&nbsp;</i>HOME</a></li>
<li><a href="/Questions"><i class="fa fa-stack-overflow">&nbsp;</i>Questions</a></li>
</ul>

</div>
</div>
<div class="col-2">
</div>
<div class="col-3">
<input type="text" id="searchInput" style="display:none;width:185px;height:34px;z-index:1;" name="search" value="" spellcheck="false" placeholder="Search...">
<div id="wb_searchClose" style="display:none;width:33px;height:35px;text-align:center;z-index:2;">
<a href="#" onclick="ShowObjectWithEffect('searchInput', 0, 'slideright', 500);ShowObjectWithEffect('wb_searchClose', 0, '', 0);ShowObjectWithEffect('wb_searchOpen', 1, '', 0);return false;"><div id="searchClose"><i class="fa fa-times"></i></div></a>
</div>
<div id="wb_searchOpen" style="display:inline-block;width:33px;height:35px;text-align:center;z-index:3;">
<a href="#" onclick="ShowObjectWithEffect('searchInput', 1, 'slideright', 500);ShowObjectWithEffect('wb_searchClose', 1, '', 0);ShowObjectWithEffect('wb_searchOpen', 0, '', 0);return false;"><div id="searchOpen"><i class="fa fa-search"></i></div></a>
</div>
</div>
</div>
</div>
</div>

<div id="FlexContainer1"  th:each="questions : ${list}">
<div id="FlexContainer2" style="border-color: #101010;border-width: 2px;" >
<div id="wb_Heading1" style="display:inline-block;width:263px;z-index:4;"><p id="Heading1" th:text="${questions.question}"></p></div>

<div id="wb_Card1" style="display:flex;width:1200px;text-align:center;z-index:5;"  th:each="solutions : ${questions.solutionsList}">
	
	<form method="post" action="/checked" class="Card1-card-header">
        <div class="Card1-card-header"><p th:text="${'Solution:'+solutions.username}" style="display: inline"></p>
	
	
	</div>
	</form>
	
   <div id="Card1-card-body">
      <div id="Card1-card-item1"><p th:text="${'Solution:'+solutions.solution}"></p></div>
      <hr id="Card1-card-item2">
      <div id="Card1-card-item3"><p th:text="${'Date:'+solutions.date_make}"></p></div>
   </div>

</div>

</div>
</div>
</body>
</html>